[submodule "nexlayer-deployment-yaml"]
	path = nexlayer-deployment-yaml
	url = https://github.com/Nexlayer/nexlayer-deployment-yaml.git
[submodule "api-reference"]
	path = api-reference
	url = https://github.com/Nexlayer/api-reference.git
